.products-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: white;
     box-shadow: 2px 2px 2px 2px rgb(196, 194, 194) ;
    padding: 22px;
    margin-bottom: 5px;

}